body {
  background-color: #fff;
  margin-top: 0;
}

table {
  /* border-spacing: 0 !important; */
  padding: 2rem 0;
  font-size: 14px;
  border: 1px solid #ccc !important;
  margin-top: 10px;
}

thead {
  background-color: #dcdcdc;
}

th {
  text-transform: capitalize !important;
}

th,
td {
  padding: 1rem !important;
  border: 1px solid #ccc;
}
td {
  font-family: Monaco, Consolas, 'Courier New', monospace;
}
