@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track::before, .slick-track::after {
  content: "";
  display: table;
}

.slick-track::after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

::-moz-selection {
  background: #b3b3b3;
}

::selection {
  background: #b3b3b3;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #1a1a1a;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

q::before, q::after {
  content: '';
}

blockquote::before, blockquote::after {
  content: '';
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

.invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.center {
  text-align: center;
}

.has-blur {
  -webkit-transition: -webkit-filter .5s;
  transition: -webkit-filter .5s;
  transition: filter .5s;
  transition: filter .5s, -webkit-filter .5s;
}

.has-blur.is-blur {
  opacity: .2;
}

@supports ((-webkit-filter: blur(20px)) or (filter: blur(20px))) {
  .has-blur.is-blur {
    opacity: 1;
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}

.no-scroll {
  overflow: hidden;
}

.userContent > * {
  margin-bottom: 1em;
}

.userContent h1,
.userContent h2,
.userContent h3,
.userContent h4,
.userContent h5,
.userContent h6 {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: normal;
  margin: 1em 0 .5em;
  line-height: normal;
}

.userContent h1 {
  font-size: 4rem;
}

@media (min-width: 32em) {
  .userContent h1 {
    font-size: 4.8rem;
  }
}

.userContent h2 {
  font-size: 3.2rem;
}

@media (min-width: 32em) {
  .userContent h2 {
    font-size: 3.8rem;
  }
}

.userContent h3 {
  font-size: 2.6rem;
}

@media (min-width: 32em) {
  .userContent h3 {
    font-size: 3.2rem;
  }
}

.userContent h4 {
  font-size: 2rem;
}

@media (min-width: 32em) {
  .userContent h4 {
    font-size: 2.6rem;
  }
}

.userContent h5 {
  font-size: 1.8rem;
}

@media (min-width: 32em) {
  .userContent h5 {
    font-size: 2.4rem;
  }
}

.userContent h6 {
  font-size: 1.6rem;
}

@media (min-width: 32em) {
  .userContent h6 {
    font-size: 2.2rem;
  }
}

.userContent p {
  font-weight: normal;
}

.userContent em,
.userContent i {
  font-style: italic;
}

.userContent strong,
.userContent b {
  font-weight: bold;
}

.userContent img {
  display: inline-block;
}

.userContent ul li {
  margin-left: 3rem;
  padding-left: 1rem;
}

.userContent ul ul {
  margin: 1rem 0;
}

.userContent ul > li {
  list-style: disc;
}

.userContent ul > li > ul > li {
  list-style: circle;
}

.userContent ul > li > ul > li > ul > li {
  list-style: square;
}

.userContent ol li {
  margin-left: 3rem;
  padding-left: 1rem;
}

.userContent ol ol {
  margin: 1rem 0;
}

.userContent ol > li {
  list-style: decimal;
}

.userContent ol > li > ol > li {
  list-style: lower-alpha;
}

.userContent ol > li > ol > li > ol > li {
  list-style: lower-roman;
}

.userContent ol > li > ol > li > ol > li > ol > li {
  list-style: decimal;
}

.userContent a {
  color: #a4343a;
  fill: #a4343a;
  text-decoration: underline;
  -webkit-transition: color 0.175s, fill 0.175s;
  transition: color 0.175s, fill 0.175s;
}

.userContent a:hover {
  color: #571b1f;
  fill: #571b1f;
}

.userContent a svg {
  vertical-align: -2px;
}

.userContent blockquote {
  margin: 3rem auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  max-width: 80rem;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  line-height: 1.1;
}

.userContent blockquote::before, .userContent blockquote::after {
  color: gray;
  position: absolute;
  font-size: 2em;
}

.userContent blockquote::before {
  content: '“';
  left: 0;
  top: -1rem;
}

.userContent blockquote::after {
  content: '”';
  right: 0;
  bottom: 4rem;
}

@media (min-width: 24em) {
  .userContent blockquote {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 2rem;
  }
  .userContent blockquote::before, .userContent blockquote::after {
    font-size: 4em;
  }
  .userContent blockquote::before {
    top: -2rem;
  }
  .userContent blockquote::after {
    bottom: 0;
  }
}

@media (min-width: 32em) {
  .userContent blockquote {
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: 2.2rem;
  }
  .userContent blockquote::after {
    bottom: -4rem;
  }
}

.userContent blockquote footer {
  font-size: 1.6rem;
  font-style: normal;
  color: gray;
}

.userContent blockquote footer cite {
  font-style: normal;
}

.userContent hr {
  display: block;
  border: 0;
  margin: 60px auto;
  width: 60%;
  height: 1px;
  background: gray;
}

.userContent iframe {
  width: 100%;
}

.banner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.banner > * {
  margin-left: auto;
  margin-right: auto;
}

.banner-header {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  max-width: none;
  background: #ffffff;
  position: fixed;
  z-index: 1020;
}

.banner-footer {
  background-color: #000000;
}

.banner-fill {
  overflow: hidden;
}

.banner-fill::before, .banner-fill::after {
  content: ' ';
  display: table;
}

.banner-fill::after {
  clear: both;
}

.banner-fill-primary {
  background-color: #a4343a;
}

.banner-fill-secondary {
  background-color: #333333;
}

.col {
  margin-left: auto;
  margin-right: auto;
}

.col::before, .col::after {
  content: ' ';
  display: table;
}

.col::after {
  clear: both;
}

.col-content {
  margin: 0 10px;
}

@media (min-width: 32em) {
  .col-content {
    margin: 0 20px;
  }
}

@media (min-width: 48em) {
  .col-content {
    margin: 0 12.5%;
  }
}

@media (min-width: 64em) {
  .col-content {
    margin: 0 16.667%;
  }
}

.col-page {
  margin: 0 10px;
}

@media (min-width: 32em) {
  .col-page {
    margin: 0 20px;
  }
}

@media (min-width: 48em) {
  .col-page {
    margin: 0 6%;
  }
}

@media (min-width: 64em) {
  .col-page {
    margin: 0 10%;
  }
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 10px;
  position: relative;
}

.main {
  width: 100%;
  max-width: 1280px;
  padding-top: 104px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #ffffff;
}

@media (min-width: 48em) {
  .main {
    padding-top: 136px;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.row::before, .row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

.section {
  margin-bottom: 40px;
}

@media (min-width: 48em) {
  .section {
    margin-bottom: 60px;
  }
}

.section-md {
  margin-bottom: 20px;
}

@media (min-width: 48em) {
  .section-md {
    margin-bottom: 40px;
  }
}

.section-sm {
  margin-bottom: 8px;
}

@media (min-width: 48em) {
  .section-sm {
    margin-bottom: 20px;
  }
}

.section-page {
  margin-top: 80px;
  margin-bottom: 80px;
}

.split {
  display: table;
  width: 100%;
}

.split > * {
  display: table-cell;
  vertical-align: top;
}

.split-center > * {
  vertical-align: middle;
}

.split_first {
  text-align: left;
}

.split_last {
  text-align: right;
}

.content::before, .content::after {
  content: ' ';
  display: table;
}

.content::after {
  clear: both;
}

.content_header {
  margin-bottom: 4rem;
}

.content_meta {
  margin: 25px 0;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}

.content_topic {
  text-transform: uppercase;
}

.content_title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: normal;
  font-size: 4rem;
}

@media (min-width: 32em) {
  .content_title {
    font-size: 4.8rem;
  }
}

.content_subtitle {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.content_byline {
  margin-bottom: 5px;
  color: #333333;
}

.content_byline a {
  color: #a4343a;
  fill: #a4343a;
  text-decoration: underline;
  -webkit-transition: color 0.175s, fill 0.175s;
  transition: color 0.175s, fill 0.175s;
  text-decoration: none;
  background-color: transparent;
}

.content_byline a:hover {
  color: #571b1f;
  fill: #571b1f;
}

.content_byline a svg {
  vertical-align: -2px;
}

.content_byline a:hover {
  text-decoration: underline;
}

.content_date {
  display: inline-block;
  margin-right: 20px;
  font-family: "Trocchi", Georgia, serif;
}

.content_date_updated {
  font-style: italic;
  font-size: .8em;
  color: gray;
}

.content_social {
  display: inline-block;
  color: gray;
  fill: gray;
}

.content_social a {
  vertical-align: middle;
  -webkit-transition: color 0.175s, fill 0.175s;
  transition: color 0.175s, fill 0.175s;
}

.content_social a:hover {
  color: #a4343a;
  fill: #a4343a;
}

.content_social svg {
  height: 24px;
  width: 24px;
}

.content_hero {
  margin: 0 0 50px;
}

.content_hero img {
  width: 100%;
}

.content_body {
  font-family: "Trocchi", Georgia, serif;
  font-size: 1.6rem;
  line-height: 1.8;
}

@media (min-width: 32em) {
  .content_body {
    font-size: 1.8rem;
    line-height: 2;
  }
}

.content_body > * {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item > :not(:last-child) {
  margin-right: 30px;
}

.item_figure {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 30%;
}

.item_figure img {
  width: 100%;
  height: auto;
}

.item_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item_content_header {
  margin-bottom: 8px;
}

.item_content_meta {
  color: gray;
  margin-bottom: 2px;
}

.item_content_body {
  line-height: 1.5;
}

.event::before, .event::after {
  content: ' ';
  display: table;
}

.event::after {
  clear: both;
}

.event_header {
  margin-bottom: 4rem;
}

.event_meta {
  margin: 25px 0;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}

.event_topic {
  text-transform: uppercase;
}

.event_title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: normal;
  font-size: 4rem;
}

@media (min-width: 32em) {
  .event_title {
    font-size: 4.8rem;
  }
}

.event_subtitle {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.event_date {
  display: inline-block;
  margin-right: 20px;
  font-family: "Trocchi", Georgia, serif;
}

.event_date_updated {
  font-style: italic;
  font-size: .8em;
  color: gray;
}

.event_body {
  font-family: "Trocchi", Georgia, serif;
  font-size: 1.6rem;
  line-height: 1.8;
}

@media (min-width: 32em) {
  .event_body {
    font-size: 1.8rem;
    line-height: 2;
  }
}

.event_body > * {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

.field {
  width: 100%;
  vertical-align: top;
}

.field-attached {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field-attached > input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.field-attached > .btn {
  width: auto;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.field_input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  border: 1px solid gray;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 40px;
  vertical-align: top;
  -webkit-transition: border-color 0.175s;
  transition: border-color 0.175s;
}

.field_input::-webkit-input-placeholder {
  font-size: 1.4rem;
  opacity: 1;
  color: gray;
}

.field_input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 1.4rem;
  opacity: 1;
  color: gray;
}

.field_input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1.4rem;
  opacity: 1;
  color: gray;
}

.field_input:-ms-input-placeholder {
  font-size: 1.4rem;
  opacity: 1;
  color: gray;
}

.field_input:focus {
  outline: 0;
  border-color: #a4343a;
}

textarea.field_input {
  border: 1px solid gray;
}

.bList li {
  margin-left: 3rem;
  padding-left: 1rem;
}

.bList ul {
  margin: 1rem 0;
}

.bList > li {
  list-style: disc;
}

.bList > li > ul > li {
  list-style: circle;
}

.bList > li > ul > li > ul > li {
  list-style: square;
}

.hList > * {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  vertical-align: middle;
  list-style: none;
}

.hList > *:last-child {
  margin-right: 0;
}

.hList-compressed > * {
  margin-right: 1px;
  margin-bottom: 0;
}

.hList-lg > * {
  margin-right: 20px;
  margin-bottom: 0;
}

.hList-oneLine > * {
  margin-bottom: 0;
}

.nList li {
  margin-left: 3rem;
  padding-left: 1rem;
}

.nList ol {
  margin: 1rem 0;
}

.nList > li {
  list-style: decimal;
}

.nList > li > ol > li {
  list-style: lower-alpha;
}

.nList > li > ol > li > ol > li {
  list-style: lower-roman;
}

.nList > li > ol > li > ol > li > ol > li {
  list-style: decimal;
}

.vList > * {
  display: block;
  margin-bottom: 10px;
}

.vList > *:last-child {
  margin-bottom: 0;
}

.vList-condensed > * {
  margin-bottom: 4px;
}

.vList-compressed > * {
  margin-bottom: 1px;
}

.vList-collection > * {
  margin-bottom: 40px;
}

.aspect {
  position: relative;
  overflow: hidden;
}

.aspect::before {
  display: block;
  content: '';
  width: 100%;
}

.aspect > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aspect > iframe {
  height: 100%;
}

.aspect-widescreen::before {
  padding-top: 56.25%;
}

.aspect-fullscreen::before {
  padding-top: 75%;
}

.aspect-square::before {
  padding-top: 100%;
}

.blocks {
  margin-left: -5%;
  margin-bottom: -40px;
  font-size: 0;
}

@media (min-width: 48em) {
  .blocks {
    margin-bottom: -80px;
  }
}

.blocks > * {
  width: 95%;
  margin-left: 5%;
  margin-bottom: 40px;
  display: inline-block;
  font-size: 1.6rem;
  vertical-align: top;
}

@media (min-width: 48em) {
  .blocks > * {
    margin-bottom: 80px;
  }
}

.blocks-1 > * {
  width: 95%;
}

.blocks-2 > * {
  width: 45%;
}

.blocks-3 > * {
  width: 28.33333%;
}

.blocks-4 > * {
  width: 20%;
}

@media (min-width: 32em) {
  .blocks-smallTablet-1 > * {
    width: 95%;
  }
  .blocks-smallTablet-2 > * {
    width: 45%;
  }
  .blocks-smallTablet-3 > * {
    width: 28.33333%;
  }
  .blocks-smallTablet-4 > * {
    width: 20%;
  }
}

@media (min-width: 48em) {
  .blocks-tablet-1 > * {
    width: 95%;
  }
  .blocks-tablet-2 > * {
    width: 45%;
  }
  .blocks-tablet-3 > * {
    width: 28.33333%;
  }
  .blocks-tablet-4 > * {
    width: 20%;
  }
}

@media (min-width: 64em) {
  .blocks-desktop-1 > * {
    width: 95%;
  }
  .blocks-desktop-2 > * {
    width: 45%;
  }
  .blocks-desktop-3 > * {
    width: 28.33333%;
  }
  .blocks-desktop-4 > * {
    width: 20%;
  }
}

.figure {
  margin: 0 -10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: normal;
}

.figure.align-none {
  margin-left: auto;
  margin-right: auto;
}

.figure > * {
  display: block;
}

.figure > img,
.figure > iframe,
.figure > video,
.figure > canvas {
  display: block;
  width: 100%;
}

@media (min-width: 48em) {
  .figure.half,
  .figure-half {
    width: 60%;
  }
}

.figure.quarter,
.figure-quarter {
  width: 40%;
  margin-left: 0;
  float: left;
  margin-right: 20px;
}

@media (min-width: 48em) {
  .figure.quarter,
  .figure-quarter {
    width: 25%;
    margin-left: 0;
  }
}

@media (min-width: 48em) {
  .figure-right,
  .figure.align-right {
    float: right;
    margin-left: 30px;
  }
}

@media (min-width: 48em) {
  .figure-left,
  .figure.align-left {
    float: left;
    margin-right: 30px;
  }
}

* + .figure_caption,
.figure_caption + * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  margin: 15px 10px 0;
}

.figure_credit {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 10px;
  color: gray;
  float: right;
  font-size: 1.2rem;
  font-style: italic;
}

.figure_text {
  font-size: 1.5rem;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media > :not(:last-child) {
  margin-right: 30px;
}

.media_figure {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.media_figure img {
  width: 100%;
  height: auto;
}

.media_body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mod {
  display: block;
  position: relative;
}

.mod_header {
  display: block;
  margin-bottom: 10px;
}

.mod_header-lg {
  margin-bottom: 60px;
}

.mod_row {
  margin-bottom: 10px;
}

.mod_img {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.mod_img img,
.mod_img video {
  width: 100%;
}

.mod_footer {
  display: block;
  margin-top: 10px;
}

.blockquote {
  margin: 3rem auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  max-width: 80rem;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  line-height: 1.1;
}

.blockquote::before, .blockquote::after {
  color: gray;
  position: absolute;
  font-size: 2em;
}

.blockquote::before {
  content: '“';
  left: 0;
  top: -1rem;
}

.blockquote::after {
  content: '”';
  right: 0;
  bottom: 4rem;
}

@media (min-width: 24em) {
  .blockquote {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 2rem;
  }
  .blockquote::before, .blockquote::after {
    font-size: 4em;
  }
  .blockquote::before {
    top: -2rem;
  }
  .blockquote::after {
    bottom: 0;
  }
}

@media (min-width: 32em) {
  .blockquote {
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: 2.2rem;
  }
  .blockquote::after {
    bottom: -4rem;
  }
}

.blockquote footer {
  font-size: 1.6rem;
  font-style: normal;
  color: gray;
}

.blockquote footer cite {
  font-style: normal;
}

.hdg {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: normal;
}

.hdg-1 {
  font-size: 4rem;
}

@media (min-width: 32em) {
  .hdg-1 {
    font-size: 4.8rem;
  }
}

.hdg-2 {
  font-size: 3.2rem;
}

@media (min-width: 32em) {
  .hdg-2 {
    font-size: 3.8rem;
  }
}

.hdg-3 {
  font-size: 2.6rem;
}

@media (min-width: 32em) {
  .hdg-3 {
    font-size: 3.2rem;
  }
}

.hdg-4 {
  font-size: 2rem;
}

@media (min-width: 32em) {
  .hdg-4 {
    font-size: 2.6rem;
  }
}

.hdg-5 {
  font-size: 1.8rem;
}

@media (min-width: 32em) {
  .hdg-5 {
    font-size: 2.4rem;
  }
}

.hdg-6 {
  font-size: 1.6rem;
}

@media (min-width: 32em) {
  .hdg-6 {
    font-size: 2.2rem;
  }
}

.hdg-inline {
  display: inline-block;
}

.hr {
  display: block;
  border: 0;
  margin: 60px auto;
  width: 60%;
  height: 1px;
  background: gray;
}

.link {
  color: #a4343a;
  fill: #a4343a;
  text-decoration: underline;
  -webkit-transition: color 0.175s, fill 0.175s;
  transition: color 0.175s, fill 0.175s;
}

.link:hover {
  color: #571b1f;
  fill: #571b1f;
}

.link svg {
  vertical-align: -2px;
}

.link-plain {
  text-decoration: none;
  background-color: transparent;
}

.link-plain:hover {
  text-decoration: underline;
}

.link-inverted {
  color: #ffffff;
}

.link-inverted:hover {
  color: #ffffff;
}

.text-light {
  color: gray;
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-size: 1.4rem;
}

.text-center {
  text-align: center;
}

.text-em {
  font-style: italic;
}

.text-sans {
  font-family: "Montserrat", sans-serif;
}

.text-serif {
  font-family: "Trocchi", Georgia, serif;
}

.text-white {
  color: #ffffff;
}

.text-alt {
  line-height: 1.8;
}

@media (min-width: 32em) {
  .text-alt {
    font-size: 1.7rem;
  }
}

.text-animate {
  opacity: 0;
  -webkit-transition: opacity .75s ease-out;
  transition: opacity .75s ease-out;
}

.text-animate.fade-in {
  opacity: 1;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  background: transparent;
  cursor: pointer;
  padding: 6px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background: #e6e6e6;
  color: #1a1a1a;
  outline: 0;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.btn:hover, .btn:focus {
  background-color: #cccccc;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 3px #4a90e2;
          box-shadow: 0 0 0 3px #4a90e2;
}

.btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled]:active {
  border-color: #e6e6e6;
  background: #fafafa;
  color: #e6e6e6;
  cursor: default;
}

.btn[disabled] > .icon, .btn[disabled]:hover > .icon, .btn[disabled]:focus > .icon, .btn[disabled]:active > .icon {
  fill: #e6e6e6;
}

.btn > .icon {
  fill: #1a1a1a;
  height: 18px;
  width: 18px;
  margin: -2px 0 -2px 6px;
  vertical-align: -2px;
}

.btn-large {
  font-size: 1.75rem;
  padding: 10px 30px;
}

.btn-small {
  font-size: 1.25rem;
  padding: 4px 12px;
}

.btn-primary {
  border: 1px solid #4a90e2;
  background: #4a90e2;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus {
  border-color: #76abe9;
  background: #76abe9;
}

.btn-secondary {
  border: 1px solid #4a90e2;
  color: #4a90e2;
  background: #ffffff;
}

.btn-secondary:hover, .btn-secondary:focus {
  border-color: #1b5dab;
  color: #1b5dab;
  background: #e4eefb;
}

.btn-destructive {
  border: 1px solid #b4111a;
  background: #b4111a;
  color: #ffffff;
}

.btn-destructive:hover, .btn-destructive:focus {
  border-color: #e31521;
  background: #e31521;
}

.btn-destructive:focus {
  -webkit-box-shadow: 0 0 0 3px #b4111a;
          box-shadow: 0 0 0 3px #b4111a;
}

.icon {
  display: inline-block;
}

.pagination .page.current {
  font-size: 1.4rem;
  padding: 2px 6px;
}

.socialLink {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 100px;
  border: 2px solid gray;
  color: gray;
  fill: gray;
  -webkit-transition: color 0.175s, border-color 0.175s, fill 0.175s;
  transition: color 0.175s, border-color 0.175s, fill 0.175s;
}

.socialLink:hover {
  color: #a4343a;
  border-color: #a4343a;
  fill: #a4343a;
}

.socialLink svg {
  height: 22px;
  width: 22px;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  height: 100%;
  margin: 90px 0;
  min-height: 30px;
  width: 100%;
}

.spinner::before {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #4a90e2;
  border-bottom-color: #4a90e2;
  -webkit-animation: spinner 1s linear infinite;
          animation: spinner 1s linear infinite;
}

.collection_header {
  margin-bottom: 120px;
}

.collection_header::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 1px;
  position: relative;
  top: 60px;
  background: gray;
}

.collection_list {
  margin-left: auto;
  margin-right: auto;
  margin: 0 10px;
}

.collection_list::before, .collection_list::after {
  content: ' ';
  display: table;
}

.collection_list::after {
  clear: both;
}

@media (min-width: 32em) {
  .collection_list {
    margin: 0 20px;
  }
}

@media (min-width: 48em) {
  .collection_list {
    margin: 0 6%;
  }
}

@media (min-width: 64em) {
  .collection_list {
    margin: 0 10%;
  }
}

.collection_list > * {
  display: block;
  margin-bottom: 40px;
}

.collection_list > *:last-child {
  margin-bottom: 0;
}

.story {
  margin-bottom: 3rem;
}

.footer {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
}

@media (min-width: 48em) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 94px 0;
  }
}

.footer_column {
  padding: 30px 0;
  text-align: center;
}

@media (min-width: 48em) {
  .footer_column {
    border: 0;
    height: 40%;
    margin: 0;
    width: 40%;
  }
}

.footer_column:first-child {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

@media (min-width: 48em) {
  .footer_column:first-child {
    border: 0;
  }
}

.footer_column-logo {
  border-bottom: 0;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media (min-width: 48em) {
  .footer_column-logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.footer_apm_logo {
  fill: #ffffff;
  height: 14px;
  margin: auto auto 16px;
  text-align: center;
  width: 250px;
}

@media (min-width: 48em) {
  .footer_apm_logo {
    margin-bottom: 20px;
  }
}

.footer_nav {
  color: gray;
}

.footer_apm_small small {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  height: 64px;
  position: fixed;
  z-index: 1020;
  font-family: "Montserrat", sans-serif;
  color: #1a1a1a;
  background-color: #ffffff;
}

@media (min-width: 48em) {
  .header {
    height: 96px;
  }
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 47.999em) {
  .header_logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: auto;
    margin-right: auto;
  }
}

.header_logoImg {
  height: 36px;
  width: 36px;
  margin-right: 8px;
}

@media (min-width: 48em) {
  .header_logoImg {
    height: 64px;
    width: 64px;
    margin-right: 16px;
  }
}

.header_logoImg svg {
  height: 100%;
  width: 100%;
}

.header_logoText {
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .header_logoText {
    font-size: 18px;
  }
}

.header_logoText_lg {
  display: block;
  font-size: 1.6em;
  text-transform: none;
}

.header_nav {
  display: block;
}

@media (max-width: 47.999em) {
  .header_nav {
    width: 240px;
    padding-top: 20px;
    position: fixed;
    overflow-y: auto;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2002;
    background-color: #ffffff;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .is-open .header_nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header_navButton {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  background: transparent;
  cursor: pointer;
  display: none;
  padding: 10px;
}

@media (max-width: 47.999em) {
  .header_navButton {
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header_navButton svg {
  display: block;
  height: 30px;
  width: 30px;
}

.header_navBg {
  display: none;
}

@media (max-width: 47.999em) {
  .header_navBg {
    display: block;
    position: fixed;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .is-open .header_navBg {
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2001;
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
  }
}

.nav {
  font-size: 2rem;
  font-weight: bold;
}

@media (min-width: 48em) {
  .nav {
    font-size: 1.6rem;
  }
}

@media (min-width: 64em) {
  .nav {
    font-size: 2rem;
  }
  .is-compact .nav {
    font-size: 1.6rem;
  }
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 47.999em) {
  .nav_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.nav_item:last-child {
  margin-right: 0;
}

.nav_link {
  display: block;
  padding: 10px;
  text-align: center;
  color: #1a1a1a;
  -webkit-transition: color 0.175s;
  transition: color 0.175s;
}

.nav_link.is-active {
  color: #571b1f;
}

.nav_link:hover, .nav_link:focus {
  color: #4a90e2;
}

@media (min-width: 48em) {
  .nav_link {
    padding: 20px 12px;
  }
}

@media (min-width: 56em) {
  .nav_link {
    padding: 20px;
  }
}

.navIcon {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
}

.navIcon span {
  display: block;
  width: 100%;
  border-top: 2px solid #1a1a1a;
  border-radius: 2px;
  position: absolute;
  -webkit-transition: opacity 0.175s, -webkit-transform 0.175s;
  transition: opacity 0.175s, -webkit-transform 0.175s;
  transition: transform 0.175s, opacity 0.175s;
  transition: transform 0.175s, opacity 0.175s, -webkit-transform 0.175s;
}

.navIcon span:first-child {
  top: 6px;
  -webkit-transform-origin: 6px 5px;
          transform-origin: 6px 5px;
}

.is-open .navIcon span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navIcon span:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}

.is-open .navIcon span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.navIcon span:last-child {
  bottom: 6px;
  -webkit-transform-origin: 6px -6px;
          transform-origin: 6px -6px;
  opacity: 1;
}

.is-open .navIcon span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
}
/*# sourceMappingURL=index.css.map */